<style>
.dropdown-menu li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
	cursor:pointer;
}

.dropdown-menu li>a:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
</style>
<div class="btn-group button_bs_right" role="group">
	<!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-menu-hamburger"></span>
	</button>-->
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="glyphicon glyphicon-menu-hamburger"></span>
	&nbsp;{string:"actions_candidat"}</button>
	
	<ul class="dropdown-menu">
	
		<li><a onclick="PMFormSubmit.submit(this, dlg_waitConfig, dlg_successConfig, dlg_failureConfig); this.blur(); return false;"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>&nbsp;&nbsp;{string:"submit"}</a></li>
		<li><a href="{=add_interview.url}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;{string:"schedule_an_interview"}</a></li>
		<li class="menu_separator"><a href="javascript:window.action__Config.exec();"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;{string:"add_email"}</a></li>	
		<li ><a onclick="PMModalbox.loadFromUrl({ title:'{string:'send_to_client_title'}',width:550,url: '{=send_to_client.url}{record.url_key}'}, event); return false;"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;{string:"send_to_collab"}</li>
		<li><a href="javascript:void(0);" onclick="window.update_cvConfig.exec(); this.blur(); return false;"><span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;&nbsp;{string:"update_resume"}</a></li>
		<?php
		if($_nx_record->cv_path->path)
		{
		?>
		<li><a href="{=download_cv.url}"><span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;&nbsp;{string:"download_cv"}</a></li>
		{/if}
		<li><a href="javascript:void(0);" onclick="PMModalbox.display(window.dlg_unlinkFromAllConfig, event); return false;"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>&nbsp;&nbsp;{string:"unlink_from_all_postes"}</a></li>
		<li><a href="javascript:void(0);" onclick="window.upload_fileConfig.exec(); this.blur(); return false;"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>&nbsp;&nbsp;{string:"add_file"}</a></li>
			
		<li><a onclick="PMModalbox.display(window.window.dlg_massiveDeleteCfg, event); return false;"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>&nbsp;&nbsp;{string:"delete"}</a></li>
		<li><a onclick="PMModalbox.display(window.dlg_ArchiveCfg, event); return false;"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>&nbsp;&nbsp;{string:"action_archive"}</a></li>
		<li id="candidate_actions"></li>

	</ul>
</div>

<script>
    window.dlg_waitConfig = { title : "{string:'dlg_wait_title'}", message : "{string:'dlg_wait_content'}", viewMode : "wait" };
    window.dlg_successConfig = {
        title : "{string:'dlg_success_title'}",
        message : "{string:'dlg_success_content'}",
        viewMode : "ok",
		url : "{=edit.url}&mode=ajax",
        target : "content",
        labels : { ok : "{string:'dlg_success'}" }
    };

    window.dlg_failureConfig = {
        title : "{string:'dlg_failure_title'}",
        message : "{string:'dlg_failure_content'}",
        viewMode : "cancel",
        target : "content",
        labels : { cancel : "{string:'dlg_cancel'}" }
    };
	 window.update_cvConfig = {
        exec:function() { PMModalbox.display(window.update_cvConfig, null); },
        content_id : 'update_resume',
        title : "{string:'update_resume'}",
        message : "{string:'update_resume_header'}",
        viewMode : "",
        target : "content",
        labels : { cancel : "{string:'dlg_cancel'}" }
    };
	window.dlg_ArchiveCfg = { 
		title 		: "{string:'dlg_archive_title'}",
		message 	: "{string:'dlg_archive_content'}", 
		viewMode 	: "okCancel", 
		url 		: "{=archive.url}", 
		target 		: "content", 
		labels	 	: { 
			ok 		: "{string:'dlg_ok'}", 
			cancel 	: "{string:'dlg_cancel'}" 
		} 
	};
	window.dlg_massiveDeleteCfg = { 
		title 		: "{string:'dlg_massive_delete_title'}",
		message 	: "{string:'dlg_massive_delete_content'}", 
		viewMode 	: "okCancel", 
		url 		: "{=delete.url}", 
		target 		: "content", 
		labels	 	: { 
			ok 		: "{string:'dlg_ok'}", 
			cancel 	: "{string:'dlg_cancel'}" 
		} 
	};
	window.dlg_unlinkFromAllConfig= {
		title: "{string:'dlg_unlink_from_all_title'}",
		message: "{string:'dlg_unlink_from_all_content'}",
		viewMode: "okCancel",
		url: "{=unlink_from_all.url}{field.object:oid}{record.url_key}",                
		target: "content",
		labels: {
			ok: "{string:'dlg_ok'}",
			cancel: "{string:'dlg_cancel'}"
		}
	};
</script>