<div class="pm-bx-form">
	<div class="record_wrapper">
		<div class="record">
		
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:studies_level}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:studies_level}						
					</div>
				</div>
			</div>
		
<!--			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:years_of_practice}</div>
				</div>
				<div class="control-wrapper">
					<div class="control width-66">
						{field:years_of_practice}						
					</div>
				</div>
			</div>
			
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:keywords}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						<div class="control">{field:keywords}</div>
					</div>
				</div>
			</div>-->
					
		</div>
	</div>
</div>