<div class="pm-bx-form">
	<div class="record_wrapper">
		<div class="record">

			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:email}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:email}
					</div>
				</div>
			</div>
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:mobile}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:mobile}
					</div>
				</div>
			</div>
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:phone_1}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:phone_1}
					</div>
				</div>
			</div>
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:phone_2}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:phone_2}
					</div>
				</div>
			</div>
			
			<!--<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:address}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:address}
					</div>
				</div>
			</div>-->
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:zip}</div>
				</div>
				<div class="control-wrapper">
					<div class="control width-66">
						{field:zip}
					</div>
				</div>
			</div>
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:country_oid}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:country_oid}
					</div>
				</div>
			</div>
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:town_oid}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:town_oid}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>