<div class="pm-bx-form">
	<div class="record_wrapper">
		<div class="record">

			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:relevance}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:relevance}
					</div>
				</div>
			</div>
			
			<div class="control-main-wrapper">
				<div class="control-label-wrapper">
					<div class="control-label">{field.label:archive_state}</div>
				</div>
				<div class="control-wrapper">
					<div class="control">
						{field:archive_state}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>