<?php

if($_nx_record->cv_path->path)
{
?>
<a class="pm-button btn-with-icon" href="{=download_cv.url}"  style="float:right">
    <span class="btn-bg"><span class="s-icon si-page-white-acrobat">{string:"download_cv"}</span></span>
</a>
<span class="pm-button-sep"></span>
{/if}

<!-- UPDATE RESUME -->
<script>
    window.update_cvConfig = {
        exec:function() { PMModalbox.display(window.update_cvConfig, null); },
        content_id : 'update_resume',
        title : "{string:'update_resume'}",
        message : "{string:'update_resume_header'}",
        viewMode : "cancel",
        target : "content",
        labels : { cancel : "{string:'dlg_cancel'}" }
    };
</script>

<a
        class="pm-button btn-with-icon"
        href="javascript:void(0);" style="float:right"
        onclick="window.update_cvConfig.exec(); this.blur(); return false;">
    <span class="btn-bg"><span class="s-icon si-table-go">{string:"update_resume"}</span></span>
</a>

<span class="pm-button-sep"  style="float:right"></span>

<br/><br/><br/>
