<div class="columns-layout clear-both">	
	<div class="column-1">
		
		<div class="section-title-wrapper">
			<h3 class="section-title inline-block">{string:"education_entries_1"}</h3>
		</div>
		{field:education_entries}


		<br/>
		<div class="section-title-wrapper"><h3 class="section-title inline-block">{string:"bachelor"}</h3></div>
		
		<div class="pm-bx-form">
			<div class="record_wrapper">
				<div class="record">
		
					<!-- <div class="control-main-wrapper">
						<div class="control-label-wrapper">
							<div class="control-label">{field.label:bachelor_title}</div>
						</div>
						<div class="control-wrapper">
							<div class="control">
								{field:bachelor_title}
							</div>
						</div>
					</div>

					<div class="control-main-wrapper">
						<div class="control-label-wrapper">
							<div class="control-label">{field.label:bachelor_school}</div>
						</div>
						<div class="control-wrapper">
							<div class="control">
								{field:bachelor_school}
							</div>
						</div>
					</div>
 -->					
					<div class="control-main-wrapper">
						<div class="control-label-wrapper">
							<div class="control-label">{field.label:bachelor_year}</div>
						</div>
						<div class="control-wrapper">
							<div class="control">
								{field:bachelor_year}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<div class="column-2">
		<div class="section-title-wrapper">
			<h3 class="section-title inline-block">{string:"languages"}</h3>
		</div>
		{field:language_entries}

		<br/>
		<div class="section-title-wrapper">
			<h3 class="section-title inline-block">{string:"education_entries_2"}</h3>
		</div>
		{field:education_entries_2}

	</div>
</div>