{records:page.records}
{record}
<div class="pm-bx-subform-wrapper layout-2-columns">									
	<div class="pm-bx-form">
		<div class="record_wrapper">
			<div class="record clear-both">
	
				<div class="form-group-double-controls">
					<div class="form-control-bs control1" id="test_oid-control">
						{field.form:lang}
					</div>
					<div class="form-control-bs control2" id="pourcentage-control">
						<div class="input-group field-date">
							{field.form:language_level}
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="record-actions">
			<a href="javascript:void(0);" onclick="(
				function(aElement) {
					PMDH.getNextSibling(aElement).checked=true;
					PMDH.getParentElementByClassName(aElement,'pm-bx-subform-wrapper').style.display='none';
				})(this);" class="action delete-action s-icon si-cross"><span>{string:"delete_language"}</span></a>
			<input type="checkbox" class="delete-control-checkbox" name="{record.id}__delete__" value="delete" style="display:none" />
		</div>
		
	</div>
</div>
{fields:all}
{if:field.hidden}
	{field.form}
{/if}
{/fields}
{/record}
{/records}