{records:page.records}
{record}
<div class="pm-bx-subform-wrapper layout-2-columns">									
	<div class="pm-bx-form">
		<div class="record_wrapper">
			<div class="record clear-both">
	
				<div class="control-main-wrapper">
					<div class="control-wrapper">
						<div class="control">
							{field:lang}
						</div>
					</div>
				</div>
				
				<div class="control-main-wrapper">
					<div class="control-wrapper">
						<div class="control">
							{field:language_level}
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
{/record}
{/records}
{no_record}
<div class="empty-records">{string:"empty_language_list"}</div>
{/no_record}