<br/>
<br/>
<br/>

<div class="pm-bxm-box-wrapper">
	<div class="pm-bxm-box">
	
	<form method="post" action="?nxo=candidates@recruitment:upload_cv" enctype="multipart/form-data">
		<input type="hidden" value="100000000" name="MAX_FILE_SIZE" />
		<input type="hidden" value="POST" name="_form_method_" />

		<div class="pm-bxm-box-content">		
			<div class="pm-bx-form pm-bx-form-normal-layout">
				<div class="record_wrapper">
					<div class="record">
						<div class="control-main-wrapper">
							<div class="control-label-wrapper">
								<div class="control-label">{string:"upload_cv_label"} :</div>
							</div>
							<div class="control-wrapper">
								<div class="control">
									<input name="temp_cv_file" type="file" />
								</div>
							</div>
						</div>
						<input type="submit" value="Ajouter CV" />
					</div>
				</div>
			</div>
		</div>
		
	</form>
	</div>
</div>