<div class="pm-bxm-box-wrapper">
	<div class="pm-bxm-box">
	
		<div class="box-title-wrapper box-title-green">
			<div class="box-title">
				<h3><strong>{string:"docs_cv"}</strong></h3>
			</div>
		</div>
				<div class="box-simple-title">
					<h3>{string:"upload_cv"}</h3>
				</div>
				<div class="pm-bxm-box-content">
					<ul class="pm-bxm-box-actions">
						<li class="download"><a href="{=download_cv.url}"><span>{string:"download_cv"}</span></a></li>
					</ul>
				</div>
				<div class="box-simple-title">
					<h3>{string:"preview_cv"}</h3>
				</div>
				<div class="pm-bxm-box-content">
					{=preview}
				</div>	
		
	</div>
</div>