<script language="php">
    $emails = new PersistentCollection('rct_candidate_email.list','db',array('candidate_oid',$_REQUEST['oid']));
    if($emails->isOk())
    $this->setProperty('page.records',$emails->records);

    $actions = array(
    );
    $listOperations = array(
    'edit'=>array('nxo'=>'emails:display','iconCls'=>'si-page-white','id'=>'content-emails'),
    );
    $tabId='emails';
    $opPar='nxo';
    $title=__('Emails reçus du candidat');
    $this->setProperty('nxo','nxo');
    $void = isset($_GET['void'])?$_GET['void']:'';

</script>
<!--
{records:page.records}
{if:records.count>0}
<style>
#received-emails div.email_content
{
	border:solid 1px #eee;
	border-radius:5px;
}
</style>
<div class="pm-bxm-box-wrapper pm-bxm-box-last">
	<div class="pm-bxm-box">

		<div class="box-title-wrapper box-title-blue">
			<div class="box-title">
				<h3>{var:title}</h3>
			</div>
		</div>

		<div class="pm-bxm-box-content" id="received-emails">

            <div class="pm-grid-outer-wrapper">
                <div class="pm-grid-wrapper">
                    <table id="table-{var:tabId}" class="pm-grid">
                        {record}
                        <tr class="row-{record.index} grid-row row_{record.even_odd}" onclick="$('email_content_{record.index}').toggle()">
                            <td class="cell-1 cell-name"><div class="simple-wrapper">{field:email_from_name} {if:%field.object:email_from% }&lt;{field:email_from}&gt;{/if}</div></td>
                            <td class="cell-subject"><div class="simple-wrapper">{field:email_title}</div></td>
                            <td class="cell-cv"><div class="simple-wrapper">{field:cv}</div></td>
                            <td class="cell-lm"><div class="simple-wrapper">{field:lm}</div></td>
                            <td class="cell-date"><div class="simple-wrapper">{field:date}</div></td>
                        </tr>
                        <tr id="email_content_{record.index}" class="email_content" style="display:none"  onclick="this.toggle()">
                            <td colspan="5" style="text-align:center">
                                <iframe id="iframe_email_content_{field.object:oid}" class="email_content" src="{=email.url}{field.object:oid}" scrolling="yes" frameborder="0" width="100%" height="600px" ></iframe>
							</td>
                        <tr>

                        {/record}
                    </table>
                </div>
            </div>

        </div>
	</div>
</div>
{/if}
</div></div>
{/records}
<br/><br/>-->
{records:page.records}

<form:group title="{var:title}">
	<div class="pm-bxm-box-content">
		<div class="table-responsive">
		{if:records.count>0}
			<table class="table">
				<thead>
					<tr>
					
					
						<th>{string:'email_from'}</th>
						<th>{string:'email_title'}</th>
						<th>{string:'cv'}</th>
						<th>{string:'lm'}</th>
						<th>{string:'date'}</th>
					
					</tr>
				 </thead>
				{record}
					<tr class="row-{record.index} grid-row row_{record.even_odd}">
						
						<td class="cell-{field.index:email_from} cell-{field.name:email_from}">
							<div class="simple-wrapper">{field:email_from}</div>
						</td>
						
						<td class="cell-{field.index:email_title} cell-{field.name:email_title}">
							<div class="simple-wrapper">{field:email_title}</div>
						</td>
						<td class="cell-{field.index:cv} cell-{field.name:cv}">
							<div class="simple-wrapper">{field:cv}</div>
						</td>
						<td class="cell-{field.index:lm} cell-{field.name:lm}">
							<div class="simple-wrapper">{field:lm}</div>
						</td>
						<td class="cell-{field.index:date} cell-{field.name:date}">
							<div class="simple-wrapper">{field:date}</div>
						</td>

						<td class="operations operations-2">
							<div class="simple-wrapper">
								<a href="javascript:void(0);" title="Modifier" onclick="ajax_navigate(event,'{=email.url}{field.object:oid}&mode=ajax','email_content_{field.object:oid}') ; $('email_content_{field.object:oid}').toggle()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
							</div>
						</td>

					</tr>
					<tr>
						<td id="email_content_{field.object:oid}" colspan="100%" style="display:none"></td>
					</tr>
				{/record}
			</table>
			{/if}
			<div class="pm-grid-outer-wrapper">
				{no_record}
				<div class="tab_empty"><?php
					$msg = $this->getProperty('tab_empty_list_msg');
					if(!$msg)
						$msg = __('emails_empty_list');
					echo $msg;
				?>
				</div>
				{/no_record}
			</div>	

		</div>
	</div>
	
</form:group>

{/records}
			


