<div id="field_current_step" class="control-main-wrapper ">
	<div class="control-label-wrapper" style="position:relative">
		<div class="control-label">{field.label:current_step}</div>
		<div class="help-tip">
			<p>Les différentes états de recrutement:<br/>
					1 - En cours<br/>
					2 - Suspendu <br/>
					3 - Clôturé <br/>
					4 - En brief <br/>
			</p>
		</div>
	</div>
	<div class="control-wrapper" id="current_step-control-wrapper">
		<div class="control" id="current_step-control">
			{field:current_step}
		</div>
	</div>
</div>
<div id="field_progress_level" class="control-main-wrapper ">
	<div class="control-label-wrapper" style="position:relative">
		<div class="control-label">{field.label:progress_level}</div>
		<div class="help-tip">
			<p>Les différentes phases de recrutement:<br/>
					1 - Poste ouvert<br/>
					2 - Validation de la demande d'ouverture <br/>
					3 - Sollicitation de cabinets de recrutement <br/>
					4 - Association de CV au poste <br/>
					5 - Envoi de candidats aux clients internes <br/>
					6 - Envoi de short-list aux clients internes <br/>
					7 - Planification d'entretiens <br/>
					8 - Acceptation de proposition <br/>
					9 - Refus de proposition <br/>
					10- Candidat(s) retenu(s) pour le poste <br/> 
					11- Sélection de candidat(s) annulée <br/>
					12- Proposition(s) envoyée(s) 
			</p>	
		</div>
	</div>
	<div class="control-wrapper" id="progress_level-control-wrapper">
		<div class="control" id="progress_level-control">
			{field:progress_level}
		</div>
	</div>
</div>