{record:page.record}
<h2 class="pm-title-2">{string:"title_interview_synthesis"} ({string:"by"} <strong>{field.html:user_oid}</strong> {string:"date_prefix_lc"} {field.html:date})</h2>

<div class="pm-bxm-box-wrapper">
	<div class="pm-bxm-box">
		<div class="box-simple-title">
			<h3 class="double-padding">{string:"title_interview_summary"}</h3>
		</div>
		<div class="pm-bxm-box-content clear-both">				
			
			<div style="float:left;width:49%">
				
				<div class="pm-bx-form">
					<div class="record_wrapper">
						<div class="record">
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:education} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:education}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:motivations} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:motivations}</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
				
			</div>
			<div style="float:right;width:49%">
			
				<div class="pm-bx-form">
					<div class="record_wrapper">
						<div class="record">
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:experiences} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:experiences}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:qualifications} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:qualifications}</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				
			</div>
			
			
		</div>
	</div>
</div>


<div class="directory-card-main-content clear-both">
	<div class="directory-card-column-1">
		<div class="directory-card-column-w">
			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">
					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_salary_package"}</h3>
					</div>
					<div class="pm-bxm-box-content">				
						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:current_salary}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:current_salary}</div>
										</div>
									</div>
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:desired_salary}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:desired_salary}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="directory-card-column-2">
		<div class="directory-card-column-w">
			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">
					<div class="box-simple-title">
						<h3 class="double-padding">{field.label:leaving_period}</h3>
					</div>
					<div class="pm-bxm-box-content">									
						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">
									<div class="control-main-wrapper normal-layout-control">
										<div class="control-wrapper">
											<div class="control">{field:leaving_period}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="pm-bxm-box-wrapper" style="display:none">
	<div class="pm-bxm-box">
		<div class="box-simple-title">
			<h3 class="double-padding">{string:"title_personality"}</h3>
		</div>
		<div class="pm-bxm-box-content clear-both">				
			
			<div style="float:left;width:49%">
				
				<div class="pm-bx-form">
					<div class="record_wrapper">
						<div class="record">
						
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:hobbies} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:hobbies}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:worst_professional_moment} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:worst_professional_moment}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:person_who_marked_me_negatively} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:person_who_marked_me_negatively}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:spouse_job} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:spouse_job}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:worst_lack} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:worst_lack}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:lucky_or_brave} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:lucky_or_brave}</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>								
			</div>
			<div style="float:right;width:49%">
			
				<div class="pm-bx-form">
					<div class="record_wrapper">
						<div class="record">
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:best_professional_moment} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:best_professional_moment}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:person_who_marked_me_posivively} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:person_who_marked_me_posivively}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:parents_jobs} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:parents_jobs}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:best_quality} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:best_quality}</div>
								</div>
							</div>
							<div class="control-main-wrapper normal-layout-control">
								<div class="control-label-wrapper">
									<div class="control-label">{field.label:last_making_authority} :</div>
								</div>
								<div class="control-wrapper">
									<div class="control">{field:last_making_authority}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>






<div class="pm-bxm-box-wrapper">
	<div class="pm-bxm-box">
		<div class="box-simple-title">
			<h3 class="double-padding">{string:"title_capabilities_assessment"}</h3>
		</div>
		<div class="pm-bxm-box-content clear-both">				
			
			
			{field.form:criterias_entries}
			
			
		</div>
	</div>
</div>

{/record}
