{
handlers : {
	clickHandler : function(ev) {		
		var event = this.pmCalendarEvent;
		if( event.status == "1" ) {
			ajax_navigate(ev,'{=edit_interview.url}&amp;interview_oid='+event.id,'content');
		} else {
			ajax_navigate(ev,'{=validate_interview.url}&amp;interview_oid='+event.id,'content');
		}
	}
},
events:	[
<!--! {records:page.records} -->
	<!--! {record} -->
	{
	id:"{field:oid}",	
	title:"<u>{field.label:candidate_oid}</u>: {field.html:candidate_oid}  <!--, <u>{field.label:interview_by}</u>: {field.html:interview_by} -->",
	startDate:"{field:date:short}",
	endDate:"{field:date:short}",
	startHour:"{field:time_start}",
	endHour:"{field:time_end}",
	status:"{field.object:validation_state}",
	className:"class-status-{field.object:validation_state}"
	}
		<!--! {if:! record.is_last} --> , <!--! {/if} -->
	<!--! {/record} -->
<!--! {/records} -->
	]
}