{content:page.content}
<!-- config css du module -->
{include:common.page_css}
<link href="/nx/controls/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"  media="all" />
<link href="/nx/controls/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"  media="all" />
<link href="/nx/skins/lightsky/css/recruitment3/screen.css" rel="stylesheet" type="text/css"  media="all" />
<link href="/nx/skins/lightsky/css/recruitment/interview.css" rel="stylesheet" type="text/css"  media="all" />


<?php
$workflow = $this->getProperty('workflow');
?>


<!--<div class="pm-page-title-wrapper">
    <div class="pm-page-title-inner-wrapper">
        <div class="pm-title">{string:"page_title_vacancy_interviews"}</div>
    </div>
</div>-->
<div class="pm-page-title-wrapper">
	<div class="pm-page-title-inner-wrapper">
		{record:vacancy_title_record}
		<div class="pm-title">
			{string:"vacancy"}: {field.html:name}{if:#field.object:code# != ''} (N° {field.html:code}){/if}
			{if:#field.object:current_step# != 0 || #field.object:progress_level# != 0}
				<br/>
				{if:#field.object:current_step# != 0} {field.label:current_step}: {field.html:current_step}, {/if}
				{if:#field.object:progress_level# != 0} {field.label:progress_level}: {field.html:progress_level}{/if}
			{/if}
		</div>
		{content:vtitle}{field.html:name}{/content}
		{/record}		
	</div>
</div>

{content:buttons}
<div class="btn-group button_bs_right" role="group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="glyphicon glyphicon-menu-hamburger"></span>
	&nbsp;{string:"actions_vacancy"}</button>
	
	<ul class="dropdown-menu">
		<li><a onclick="document.location.href='{=edit.url}&mode=page'"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;{string:"title_general_infos"}</a></li>
		<li><a onclick="document.location.href='{=candidates.url}&from_vac=1&mode=page'"><span class="fa fa-users"></span>&nbsp;&nbsp;{string:"title_candidates"}</a></li>
		<!--<li><a onclick="document.location.href='{=feedback.url}&mode=page'"><img src="/nx/skins/lightsky/img/eval-noir.png" style="width: 20px;float: left; margin-left: -5px;">&nbsp;&nbsp;{string:"title_evaluation"}</a></li>-->
		<li><a onclick="document.location.href='{=warning.url}&mode=page'"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>&nbsp;&nbsp;{string:"title_warnings"}</a></li>
		<li><a onclick="document.location.href='{=history.url}&mode=page'"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;{string:"title_history"}</a></li>
		{if: %property:use_multiposting% && %property:multiposting_url% }
		<li><a href="{=multiposting_url}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;&nbsp;{string:"multiposting_access"}</a></li>
		{/if}
		<li><a onclick="PMModalbox.display(dlg_deleteConfig{record.index}, event);"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>&nbsp;&nbsp;{string:"dlg_delete_definitly"}</a></li>
		<li><a onclick="PMModalbox.display(dlg_archiveConfig{record.index}, event);"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;{string:"archive_helper"}</a></li>
		<!--<li><a href="{=applicant.url}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Candidats</a></li>
		<li><a href="{=calendar.url}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;Entretiens</a></li>-->
		<li><a href="{=candidate_add.url}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Ajouter Candidat</a></li>
	</ul>
	
</div>
<button type="button" class="btn btn-default right submit_marge" onclick="PMFormSubmit.submit(this, dlg_submitConfig, dlg_successConfig, dlg_failureConfig); this.blur(); return false;"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>&nbsp;&nbsp;
	{string:"submit"} </button>
{/content}

{if:%property:from_home%}
	<button type="button" class="btn btn-default button_back" onclick="document.location.href='{=back_to_home.url}'">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;&nbsp;
		{string:"back_to_home"}
	</button>
	{else}
	<button type="button" class="btn btn-default button_back" onclick="document.location.href='{=list.url}'">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;&nbsp;
		{string:"back"}
	</button>
	{/if}
	{=buttons}
	
<table class="columns-viewer">
    <tr>
        <td class="left-column">

            <div class="pm-grid-outer-wrapper bs interview_content">
                <div class="generis-toolbar-wrapper">
                    <div class="generis-toolbar tab_panel">
                        <a class="s-icon si-add" href="{=add_interview.url}&mode=page" onclickX="ajax_navigate(event,'{=add_interview.url}','content'); return false;"><span>{string:"add_interview"}</span></a>
						{if:%property:oldCalendar%}<a class="s-icon si-calendar" href="javascript:void(0);" onclick="ajax_navigate(event,'{=old_calendar.url}','content'); return false;"><span>{string:"calendar"}</span></a>{/if}
                    </div>
                </div>
				
                <div class="tab_panel">
                    {if: %property:tab_title%}
                    <div class="tab_header">
                        <div class="tab_title">{=tab_title}</div>
                        <div class="tab_help">{=tab_help}</div>
                    </div>
                    {/if}

                    <div class="tab_content {tab_id} interviews">
                        <!--! {records:futurInterviews.records} -->
                        {if:records.count>0}
                        <interviews>
                            <h4>{string:"page_title_my_interviews_futur"}</h4>
                            <!--! {record} -->
                            <div class="panel panel-default" onclick="document.location.href='{=edit_interview.url}{field:oid}'">
                                <div class="panel-heading">
                                    <i class="icon-calendar" {if:#field.object:created_by# == #user:oid#}style="color:gray" title="{string:'programmed_by_you'}"{else} title="{string:'you_participate'}"{/if}></i>
                                    <div class="panel-content">
                                        <span><span id="{field.object:oid}"></span><script>ShortDate("{field:date}","{field.object:oid}")</script>, de {field:time_start} à {field:time_end} avec {field:candidate_name} {if:%field:location%!=null}à <span> {field:location}</span>{/if}<span class="right">{field.label:interview_by_oid} {field:interview_by_oid}</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-font">
                                        <tbody>

										<tr>
                                           <td class="first">
											{if:%field.object:mobile%!=null && %field.object:mobile%!=""}{field.label:mobile}:<span>{field:mobile}  {field:phone_1}  {field:phone_2}</span>
											{elseif:%field.object:phone_1%!=null && %field.object:phone_1%!=""}{field.label:mobile}:<span>{field:mobile}  {field:phone_1}  {field:phone_2}</span>
											{elseif:%field.object:phone_2%!=null && %field.object:phone_2%!=""}{field.label:mobile}:<span>{field:mobile}  {field:phone_1}  {field:phone_2}</span>
											{/if}
											</td>
                                            <td>
                                                {field.label:vacancy_oid}:<span>{field:vacancy_name}</span>
                                            </td>
                                            <td>
                                                <a href="{=eval.url}{field:oid}&mode=page" class="right" style="background: #5382F5 none repeat scroll 0% 0%; border: medium none rgb(76, 158, 217); border-radius: 5px; color: rgb(255, 255, 255);padding:3px 7px;">{string:"create_eval"}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first"></td>
                                            <td>{if:#field.object:etat_oid# !=null && #field.object:etat_oid# !=0 && #field.object:etat_oid# != "" }Etat du candidat : <span class="label" style="background:{field:etat_color}">{field:etat_oid}</span>{/if}</td>
                                            <td></td>
                                        </tr>
										<tr>
											<td>
												<a href="{=edit_candidate.url}{field.object:candidate_oid}&coid={field.object:candidate_oid}&candidate_oid={field.object:candidate_oid}" style="background: #5382F5 none repeat scroll 0% 0%; border: medium none rgb(76, 158, 217); border-radius: 5px; color: rgb(255, 255, 255);padding:3px 7px;">{string:"cv_candidate"}</a>
												{if:#field.string:cv_path:url# != ""}
												<a href="{field.string:cv_path:url}" target="_blanck" onclick="event.stopPropagation()" style="background: #5382F5 none repeat scroll 0% 0%; border: medium none rgb(76, 158, 217); border-radius: 5px; color: rgb(255, 255, 255);padding:3px 7px;">{string:"show_cv"}</a>
												{/if}
                                            </td>
                                            <td></td>
                                            <td class="right">{string:"created_by"}<span>{field:created_by}</span></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--! {/record} -->
                        </interviews>
						<?php
                        $items_search = __('items_search_interview_futur');
						$pageAlias = "page_interview_f";
                        ?>
                        {include:common/r_pagination}
                        {/if}
                        <!--! {/records} -->

                        {no_record}
                        <div class="tab_empty"><?php
					$msg = $this->getProperty('tab_empty_list_msg');
                            if(!$msg)
                            $msg = __('empty_list_interview_futur');
                            echo $msg;
                            ?>
                        </div>
                        {/no_record}
						
                    </div>
                </div>
                <div class="tab_panel">
                    {if: %property:tab_title%}
                    <div class="tab_header">
                        <div class="tab_title">{=tab_title}</div>
                        <div class="tab_help">{=tab_help}</div>
                    </div>
                    {/if}

                    <div class="tab_content {tab_id} interviews">
                        <!--! {records:lastInterviews.records} -->
                        {if:records.count>0}
                        <interviews>
                            <h4>{string:"page_title_my_interviews_realised"}</h4>
                            <!--! {record} -->
                            <div class="panel panel-default" onclick="document.location.href='{=edit_interview.url}{field:oid}'">
                                <div class="panel-heading">
                                    <i class="icon-calendar" {if:#field.object:created_by# == #user:oid#}style="color:gray" title="Planifié par vous"{else} title="vous participez"{/if}></i>
                                    <div class="panel-content">
                                        <span><span id="{field.object:oid}"></span><script>ShortDate("{field:date}","{field.object:oid}")</script> , de {field:time_start} à {field:time_end} avec {field:candidate_name} {if:%field:location%!=null}à <span> {field:location}</span>{/if} : {field:interview_etat}<span class="right">{field.label:interview_by_oid} {field:interview_by_oid}</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-font">
                                        <tbody>

										<tr>
											<td class="first">
                                            {if:%field.object:mobile%!=null && %field.object:mobile%!=""}{field.label:mobile}:<span>{field:mobile}  {field:phone_1}  {field:phone_2}</span>
                                            {elseif:%field.object:phone_1%!=null && %field.object:phone_1%!=""}{field.label:mobile}:<span>{field:mobile}  {field:phone_1}  {field:phone_2}</span>
                                            {elseif:%field.object:phone_2%!=null && %field.object:phone_2%!=""}{field.label:mobile}:<span>{field:mobile}  {field:phone_1}  {field:phone_2}</span>
                                            {/if}
											</td>
                                            <td>
                                                {field.label:vacancy_oid}:<span>{field:vacancy_name}</span>
                                            </td>
                                            <td class="right">
                                                {if:%field:synthesis_oid% != 0}
                                                <a href="{=eval.url}{field:oid}&mode=page" style="background: #5382F5 none repeat scroll 0% 0%; border: medium none rgb(76, 158, 217);  border-radius: 5px; color: rgb(255, 255, 255);padding:3px 7px;">Voir fiche d'évaluation</a>
                                                {else}
                                                <a href="{=eval.url}{field:oid}&mode=page" style="background: #5382F5 none repeat scroll 0% 0%; border: medium none rgb(76, 158, 217); border-radius: 5px; color: rgb(255, 255, 255);padding:3px 7px;">Créer fiche d'évaluation</a>
                                                {/if}
                                            </td>
										</tr>
                                        <tr>
                                            <td class="first"></td>
                                            <td>Etat du candidat : <span class="label" style="background:{field:etat_color}">{field:etat_oid}</span></td>
                                            <td></td>
                                        </tr>
                                        <tr>
											<td>
												<a href="{=eval.url}{field:oid}&mode=page" style="background: #5382F5 none repeat scroll 0% 0%; border: medium none rgb(76, 158, 217); border-radius: 5px; color: rgb(255, 255, 255);padding:3px 7px;">{string:"cv_candidate"}</a>
												
												{if:#field.string:cv_path:url# != ""}
												<a href="{field.string:cv_path:url}" target="_blanck" onclick="event.stopPropagation()" style="background: #5382F5 none repeat scroll 0% 0%; border: medium none rgb(76, 158, 217); border-radius: 5px; color: rgb(255, 255, 255);padding:3px 7px;">{string:"show_cv"}</a>
												{/if}

                                            </td>
                                            <td></td>
                                            <td class="right">{string:"created_by"}<span>{field:created_by}</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--! {/record} -->
                        </interviews>
						<?php
							$items_search = __('items_search_interview_realised');
							$pageAlias = "page_interview_r";
						?>
                        {include:common/r_pagination}
                        {/if}
                        <!--! {/records} -->

                        {no_record}
                        <div class="tab_empty"><?php
					$msg = $this->getProperty('tab_empty_list_msg');
                            if(!$msg)
                            $msg = __('empty_list_interview_realised');
                            echo $msg;
                            ?>
                        </div>
                        {/no_record}

						
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<script>
    if(PMDH && PMDH.Skin)
        PMDH.Skin.LightSky.Grid.init();
</script>
{/content}
<script language="php">
if(isset($_REQUEST['mode']) && $_REQUEST['mode']=='page') {
</script>
	{include:page_bs}
{else}
	{=page.content}
{/if}