{content:buttons}
<a
	class="pm-button btn-with-icon"
	href="javascript:void(0);"
	onclick="PMFormSubmit.validate(this, dlg_backConfig, event); this.blur(); return false;">
	<span class="btn-bg"><span class="s-icon si-application-side-contract">{string:"back"}</span></span>
</a>
<span class="pm-button-sep"></span>
<a
	class="pm-button btn-with-icon"
	href="javascript:void(0);"
	onclick="PMFormSubmit.submit(this, window.dlg_submitContinueConfig, dlg_successConfig, dlg_failureConfig); this.blur(); return false;">
	<span class="btn-bg"><span class="s-icon si-disk">{string:"submit"}</span></span>
</a>
{/content}

{form:page.record}
<script>
	window.dlg_backConfig = { title : "{string:'dlg_back_title'}", message : "{string:'dlg_back_content'}", viewMode : "okCancel", url : "{=list.url}", target : "content", labels : { ok : "{string:'dlg_ok'}", cancel : "{string:'dlg_cancel'}" } };

	window.dlg_submitConfig = { title : "{string:'dlg_wait_title'}", message : "{string:'dlg_wait_content'}", viewMode : "wait" };

	window.dlg_submitContinueConfig = { title : "{string:'dlg_wait_title'}", url:"{=submit_continue.url}", message : "{string:'dlg_wait_content'}", viewMode : "wait" };

	window.dlg_successConfig = { title : "{string:'dlg_success_title'}", message : "{string:'dlg_success_content'}", viewMode : "ok", url : "{=requirements.url}", target : "content", labels : { ok : "{string:'dlg_success'}" } };

	window.dlg_failureConfig = { title : "{string:'dlg_failure_title'}", message : "{string:'dlg_failure_content'}", viewMode : "cancel", target : "content", labels : { cancel : "{string:'dlg_cancel'}" } };
</script>
<div class="pm-button-wrapper align-left clear-both pm-bxm-top-button-wrapper">
{=buttons}
</div>

<div class="directory-card-main-content clear-both">
	<div class="directory-card-column-1">
		<div class="directory-card-column-w">

			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">



					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_vacancy_identity_section"}</h3>
					</div>

					<div class="pm-bxm-box-content">

						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:subsidiary_oid}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:subsidiary_oid}</div>
										</div>
									</div>

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:establishment}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:establishment}</div>
										</div>
									</div>

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:service_oid}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:service_oid}</div>
										</div>
									</div>

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:duty_station_oid}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:duty_station_oid}</div>
										</div>
									</div>

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:work_schedule}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:work_schedule}</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="pm-bxm-box-wrapper pm-bxm-box-last">
				<div class="pm-bxm-box">

					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_vacancy_requirement_section"}</h3>
					</div>

					<div class="pm-bxm-box-content">

						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper normal-layout-control">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:technical_qualifications}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:technical_qualifications}</div>
										</div>
									</div>

									<div class="control-main-wrapper normal-layout-control">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:behavioral_qualifications}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:behavioral_qualifications}</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>

	<div class="directory-card-column-2">
		<div class="directory-card-column-w">



			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">

					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_sought_after_profile_section"}</h3>
					</div>

					<div class="pm-bxm-box-content">

						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:years_of_practice}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:years_of_practice}{field:years_of_practice_max}</div>
										</div>
									</div>

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:suited_diplomas}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:suited_diplomas}</div>
										</div>
									</div>

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:companies_having_same_profile}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:companies_having_same_profile}</div>
										</div>
									</div>

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:recruitment_reasons}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:recruitment_reasons}</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>



			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">

					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_mission_definitions_section"}</h3>
					</div>

					<div class="pm-bxm-box-content">

						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper normal-layout-control">
										<div class="control-wrapper">
											<div class="control">{field:mission_definitions}</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="pm-bxm-box-wrapper pm-bxm-box-last">
				<div class="pm-bxm-box">

					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_mission_means_section"}</h3>
					</div>

					<div class="pm-bxm-box-content">

						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper normal-layout-control">
										<div class="control-wrapper">
											<div class="control">{field:mission_means}</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>




		</div>
	</div>
</div>

<div class="pm-button-wrapper align-left clear-both pm-bxm-bottom-button-wrapper">
{=buttons}
</div>
{/form}