<div class="pm-button-wrapper align-left clear-both pm-bxm-top-button-wrapper">					
	<a 
		class="pm-button btn-with-icon" 
		href="javascript:void(0);" 
		onclick="ajax_navigate(event,'{=add_interview.url}&mode=ajax','content'); this.blur(); return false;">
		<span class="btn-bg"><span class="s-icon si-add">{string:"add_short_list"}</span></span>
	</a>
</div>

<div class="directory-card-main-content clear-both">

	<div class="short-list-wrapper">
		<div class="short-list-header clear-both">
			<div class="short-list-title" style="float:left">
				Nom de la short-list
			</div>
			<div class="short-list-operations" style="float:right">
				<a class="action s-icon si-add af-add-action" href="javascript:void(0);"><span>Ajouter un nouveau fichier</span></a>
				<a class="action s-icon si-add af-add-action" href="javascript:void(0);"><span>Ajouter un nouveau fichier</span></a>
			</div>
		</div>
		<div class="short-list-content">
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>

</div>
