<div class="pm-bxm-box-content">
    <div class="table-list-wrapper">
        <table class="table-list">
            <tr>
                <td class="entry">{string:"title_delay_open_close"}: <strong>{field.html:delay_between_open_and_close}</strong> {string:"days"}</td>
            </tr>
            <tr>
                <td class="entry">{string:"title_delay_close_office_taking"}: <strong>{field.html:delay_between_close_and_taking_office}</strong> {string:"days"}</td>
            </tr>
            <tr>
                <td class="entry">{string:"title_instant_feedback"}: <strong>{=instant_feedback_count}</strong></td>
            </tr>
            <tr>
                <td class="entry">{string:"title_delayed_feedback"}: <strong>{=delayed_feedback_count}</strong></td>
            </tr>
        </table>
    </div>
</div>