<div class="pm-bxm-box-wrapper">
	<div class="pm-bxm-box">
	
		<div class="box-simple-title">
			<h3 class="double-padding">{string:"title_vacancy_dashboard"}</h3>
		</div>
	
		<div class="pm-bxm-box-content">
			<div class="table-list-wrapper">
				<table class="table-list">
					<tr>
						<td class="entry">Délais entre le lancement et clôture: <strong>{field.html:delay_between_open_and_close}</strong> {string:"days"}</td>
					</tr>
					<tr>
						<td class="entry">Délais entre clôture et entrée en fonction: <strong>{field.html:delay_between_close_and_taking_office}</strong> {string:"days"}</td>
					</tr>
					<tr>
						<td class="entry">Synthèse saisie: [[@todo]]</td>
					</tr>
					<tr class="last">
						<td class="entry">Annonce sur Intranet diffusée: [[@todo]]</td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>
</div>




