{record:page.record}
<div class="directory-card-main-content clear-both">
	<div class="directory-card-column-1">
		<div class="directory-card-column-w">
	
			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">

					
	
					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_vacancy_identity_section"}</h3>
					</div>
					
					<div class="pm-bxm-box-content">
																
						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:subsidiary_oid}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:subsidiary_oid}</div>
										</div>
									</div>
									
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:service_oid}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:service_oid}</div>
										</div>
									</div>
									
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:duty_station_oid}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:duty_station_oid}</div>
										</div>
									</div>
									
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:work_schedule}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:work_schedule}</div>
										</div>
									</div>			
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="pm-bxm-box-wrapper pm-bxm-box-last">
				<div class="pm-bxm-box">

					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_vacancy_requirement_section"}</h3>
					</div>
					
					<div class="pm-bxm-box-content">
																
						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">
								
									<div class="control-main-wrapper normal-layout-control">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:technical_qualifications}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:technical_qualifications}</div>
										</div>
									</div>
									
									<div class="control-main-wrapper normal-layout-control">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:behavioral_qualifications}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:behavioral_qualifications}</div>
										</div>
									</div>	
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			
		</div>
	</div>
	
	<div class="directory-card-column-2">
		<div class="directory-card-column-w">
		
			
			
			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">

					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_sought_after_profile_section"}</h3>
					</div>
					
					<div class="pm-bxm-box-content">
																
						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:years_of_practice}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:years_of_practice}{field:years_of_practice_max}</div>
										</div>
									</div>
									
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:suited_diplomas}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:suited_diplomas}</div>
										</div>
									</div>
									
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:companies_having_same_profile}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:companies_having_same_profile}</div>
										</div>
									</div>
									
									<div class="control-main-wrapper">
										<div class="control-label-wrapper">
											<div class="control-label">{field.label:recruitment_reasons}</div>
										</div>
										<div class="control-wrapper">
											<div class="control">{field:recruitment_reasons}</div>
										</div>
									</div>										
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			
			
			<div class="pm-bxm-box-wrapper">
				<div class="pm-bxm-box">

					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_mission_definitions_section"}</h3>
					</div>
					
					<div class="pm-bxm-box-content">
																
						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">

									<div class="control-main-wrapper normal-layout-control">
										<div class="control-wrapper">
											<div class="control">{field:mission_definitions}</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="pm-bxm-box-wrapper pm-bxm-box-last">
				<div class="pm-bxm-box">
	
					<div class="box-simple-title">
						<h3 class="double-padding">{string:"title_mission_means_section"}</h3>
					</div>
					
					<div class="pm-bxm-box-content">
																
						<div class="pm-bx-form">
							<div class="record_wrapper">
								<div class="record">
	
									<div class="control-main-wrapper normal-layout-control">
										<div class="control-wrapper">
											<div class="control">{field:mission_means}</div>
										</div>
									</div>			
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			
			
			
		</div>
	</div>
</div>

{/record}