<style>
.pm-pagination ul li{
	font-size:13px;
}
</style>
{if:pages.several_pages || pages.nb_records > 0}
<?php
if(isset($_REQUEST['ltr']) && $_REQUEST['ltr'])
{
	$ltrUrl = '&ltr='.$_REQUEST['ltr'];
}
else
{
	$ltrUrl = '';
}


$bnpages = ceil($_nxvar_nbpages)-1;




?>

<div class="pm-pagination clear-both">
    {if:pages.several_pages}
    <ul class="pages">
        <!-- <li class="first-meta"><span>Page(s) {pages.current} sur {pages.nb_pages} : </span></li>
 -->
        {pages:all}
        {if:page.is_first}
        <li class="previous"><a href="javascript:void(0);" onclick="goto('{page.url}&amp;page=0');" onclickX="ajax_navigate(event,'{page.url}&amp;page=0&amp;mode=ajax','content');return false;">Début</a></li>
        {/if}
        {/pages}

        {pages:previous}
        <li class="previous"><a href="javascript:void(0);" onclick="goto('{page.url}{var:ltrUrl}');" onclickX="ajax_navigate(event,'{page.url}{var:ltrUrl}&amp;mode=ajax','content');return false;">&laquo; Page pr&eacute;c&eacute;dente</a></li>
        {/pages}

		<!--<li class="active">
			<span>Page :</span>
		</li>-->
        {pages:all}
            {if:page.is_current}
            <li class="active">
                <input type="text" class ="nb_page_input" onkeyup="selectPageInput(event,this,'{pages.nb_pages}', '{page.url}')" placeholder="Page" value="{pages.current}" />
            </li>
            {/if}
        {/pages}


		<li class="active">
			<span>
				sur {pages.nb_pages}
			</span>
		</li>

        {pages:next}
        <li class="next"><a href="javascript:void(0);" onclick="goto('{page.url}{var:ltrUrl}');" onclickX="ajax_navigate(event,'{page.url}{var:ltrUrl}&amp;mode=ajax','content');return false;">Page suivante &raquo;</a></li>
        {/pages}
        {pages:all}
        {if:page.is_current}
        <li class="previous"><a href="javascript:void(0);" onclick="goto('{page.url}&amp;page={var:bnpages}');" onclickX="ajax_navigate(event,'{page.url}&amp;page={var:bnpages}&amp;mode=ajax','content');return false;">Fin</a></li>
        {/if}
        {/pages}
    </ul>
    {/if}

    {if:pages.nb_records > 0}
    <div class="items-count">
        <span class="pm-pagination-records-count"><strong style="font-size:13px">{pages.nb_records} </strong> {var:items_search}</span>
    </div>
    {else}
    <div class="items-count">
        <span class="pm-pagination-records-count"><strong style="font-size:13px">{records.count} </strong>{var:items_search}</span>
    </div>
    {/if}
</div>
{/if}

<script type="text/javascript">

    function selectPage(select){
        ajax_navigate(event,'{page.url}&amp;page='+select.value+'&amp;mode=ajax','content');
        return false;
    }
    function selectPageInput(event,input , nb_pages , pageurl){
		console.log(pageurl);
        if(!isInt(input.value) || input.value == 0 || input.value > parseInt(nb_pages)){
            input.value="";
            return false;
        }
        if(event.keyCode == 13){
            var value = parseInt(input.value)-1;
            //ajax_navigate(event, pageurl+'&amp;page='+value+'&amp;mode=ajax','content');
			window.location.href = pageurl.replace(/&amp;/g,"&")+'&page='+value;
        }
        return false;
    }
    function isInt(x) {
        var y = parseInt(x, 10);
        return !isNaN(y) && x == y && x.toString() == y.toString();
    }
	function goto(pageurl) {
		window.location.href = pageurl.replace(/&amp;/g,"&");
	}

</script>

<style>
    .nb_page_input{
		width: 40px;
		height: 13px;
		padding: 5px;
		margin-left: 5px;
		text-align: center;
		border: solid 1px #4C9ED9;
		border-radius: 3px;
		background-color: #4C9ED9;
		color: white;
		}
</style>